@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
    /* scroll-behavior: smooth; */
}

body {
    background: url(img/yandexart-fbvr1tnngttbrbeujunj.jpeg);
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(to right,
            rgba(0, 0, 0, 0.705),
            rgba(9, 83, 168, 0.705)) */
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    --heightMain: 120dvh;
}

div,
p,
li,
h2 {
    cursor: default;
}

header {
    background-position: center;
    animation: header .5s forwards;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 40dvh, 0 100%);
    height: 45dvh;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 0.705),
            rgba(9, 83, 168, 0.705)), url(img/web.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;



    .icon {
        height: 10px;
        width: 10px;
        border-radius: 1000px;
        overflow: hidden;
        margin-right: 20%;
        animation: img .5s forwards;
        transform: rotateY(0.25turn);

        img {
            width: 100%;
            position: relative;
            background-size: cover;
        }
    }

    .wrap {
        list-style-type: none;

        li {
            color: transparent;
            transform: rotateY(-90deg) translateX(60px);
            /* transform: translateX(10px); */
            animation: transformWrap .5s forwards;
        }

        li:nth-child(1) {
            animation-delay: 0.1s;
        }

        li:nth-child(2) {
            animation-delay: 0.2s;
        }

        li:nth-child(3) {
            animation-delay: 0.3s;
        }

        li:nth-child(4) {
            animation-delay: 0.4s;
        }


        .profession {
            color: rgb(215, 235, 235);
            font-size: 2em;
        }

        .name {
            font-size: 10em;
        }

        button {
            color: white;
            font-size: 2.4em;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 20px;
            padding: 0.5em;
            background-attachment: text;
            transition: transform 0.2s;
            cursor: pointer;
        }

        button:hover {
            transform: scale(1.1);
        }
    }
}

@keyframes img {
    to {
        transform: rotateY(0turn);
        height: 350px;
        width: 350px;
    }
}

@keyframes transformWrap {
    to {
        transform: rotateY(0) translateX(0);
        color: white;
    }
}

@keyframes header {
    to {
        opacity: 1;
        font-size: 1em;
    }
}

main {
    z-index: -1;
    opacity: 0;
    max-height: 1px;
    animation: main .8s 0.2s forwards;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    position: relative;
    transform: translateX(-50%);
    left: 50%;

    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(23px);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, 0.3);


    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 1400px;
    --widthImg: 100px;

    h2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    article {
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
            margin-bottom: 10px;
        }

        .aboutMe,
        .education {
            width: calc(100% - 300px);
            text-indent: 20px;
        }

        .img {
            width: 300px;
            height: 300px;
            border-radius: 20px;
            margin: 0 20px;

        }

        .myPhote {
            background: url(img/я2.jpg);
            background-size: cover;
            background-position: center;
        }

        .college {
            background: url(img/колледж.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    .myWorksAndSkills {
        display: flex;
        align-items: start;
        justify-content: space-around;
        width: 100%;

        .wrapSkills {
            display: flex;
            flex-direction: column;
            align-items: center;


            /* .examples {
                display: flex;
                align-items: center;
                width: calc(var(--widthImg) * 4);
                overflow: auto;
                scrollbar-width: none;
                border-radius: 10px;
    
                --quantityWorks: 9;
                --quantity: calc(var(--quantityWorks) - 4);
    
                img {
                    animation: scrollWidth calc(var(--quantity) * 2s) cubic-bezier(0, 0, 0, 0) infinite;
                    transform: translateX(0px);
                    border-radius: 10px;
                    box-sizing: border-box;
                    margin-right: 10px;
                    width: calc(var(--widthImg) - 10px);
                }
    
            } */
            .skills {
                display: flex;
                align-items: center;
                flex-direction: column;
                height: calc(var(--widthImg) * 4);
                overflow: auto;
                overflow-y: hidden;
                scrollbar-width: none;
                border-radius: 10px;

                --quantityWorks: 9;
                --quantity: calc(var(--quantityWorks) - 4);

                img {
                    animation: scrollWorks calc(var(--quantity) * 2s) cubic-bezier(0, 0, 0, 0) infinite;
                    transform: translateY(0px);
                    border-radius: 10px;
                    box-sizing: border-box;
                    margin-top: 5px;
                    height: calc(var(--widthImg) - 10px);
                }

            }
        }

        .wrapWorks {
            .works {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;

                .myWorks {
                    text-decoration: none;
                    height: 200px;
                    width: 300px;
                    background: url(project/empty.webp);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: rgba(255, 255, 255, 0.438);
                    backdrop-filter: blur(9px);
                    border-radius: 10px;

                    .infoWorks {
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: start;
                        flex-direction: column;
                        color: transparent;

                        li:first-child {
                            background-color: aliceblue;
                            position: absolute;
                            left: 0;
                            height: 70px;
                            width: 20px;
                            list-style-type: none;
                            border-radius: 0 0 10px 10px;
                            margin-left: 0;
                        }

                        li {
                            width: 120px;
                            text-transform: uppercase;
                            font-weight: 500;
                            position: relative;
                            list-style-position: inside;
                            vertical-align: middle;
                            margin-left: 4.5px;
                        }

                        li::marker {
                            font-size: 36px;
                            line-height: 13px;

                        }

                        .html::marker {
                            color: orange;
                        }

                        .css::marker {
                            color: rgb(0, 119, 255);
                        }

                        .js::marker {
                            color: yellow;
                        }

                        .react::marker {
                            color: aqua;
                        }

                        .ts {
                            color: blue;
                        }
                    }
                }

                .weather {
                    background: url(project/weather.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .draw {
                    background: url(project/draw.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .editor {
                    background: url(project/editor.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .passGenerator {
                    background: url(project/pass_generator.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .RMC {
                    background: url(project/RMC.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }


                .myWorks:hover .infoWorks {
                    opacity: 1;
                    background-color: rgba(63, 63, 63, 0.555);
                    backdrop-filter: blur(4px);
                    color: white;
                }
            }
            @media (max-width: 1440px) {
                    .works {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 10px;
                    }
                
            }
        }
    }

    section,
    article:not(:last-child) {
        margin-bottom: 30px;
    }
}

@keyframes main {
    50% {
        opacity: 0;
    }

    99% {
        z-index: -1;
    }

    to {
        z-index: 1;
        max-height: 1610px;
        opacity: 1;
    }
}

@keyframes scrollWidth {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(calc(calc(var(--widthImg) * -1) * var(--quantity)));
    }
}

@keyframes scrollWorks {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateY(calc(calc(var(--widthImg) * -1) * var(--quantity)));
    }
}

footer {
    /* height: calc(var(--heightMain) + 60dvh); */
    width: 100%;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 0.705),
            rgba(9, 83, 168, 0.705)), url(img/web.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    clip-path: polygon(0 5dvh, 100% 0, 100% 100%, 0 100%);
    height: 80dvh;
    /* top: calc((var(--heightMain) * -1) - 12.1dvh); */
    animation: identifier 1s .30s forwards ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: white;
    position: relative;
    top: -12dvh;

    h2 {
        font-size: 6.4em;
    }

    .emailAndTelephone {
        font-size: 3.6em;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            /* transition: all .3s; */
            cursor: pointer;
            padding: 10px;
            border-radius: 20px;
        }

        /* div:hover {
            backdrop-filter: blur(10px);
        } */
    }

    .socialNetworks {
        background: rgba(255, 255, 255, 0.6);
        -webkit-backdrop-filter: blur(23px);
        backdrop-filter: blur(23px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;
        border-radius: 15px;

        .networks {
            width: 50px;
            height: 50px;
            margin: 5px;
            /* transition: background .2s; */
        }

        .tg {
            background: url(socialNetworks/telegram_B.png);
            background-size: cover;
        }

        .tg:hover {
            background: url(socialNetworks/telegram.png);
            background-size: cover;
        }

        .vk {
            background: url(socialNetworks/vk_B.png);
            background-size: cover;
        }

        .vk:hover {
            background: url(socialNetworks/vk.png);
            background-size: cover;
        }

        .inst {
            background: url(socialNetworks/instagram_B.png);
            background-size: cover;
        }

        .inst:hover {
            background: url(socialNetworks/instagram.png);
            background-size: cover;
        }
    }

}

footer>*:not(:last-child) {
    margin-bottom: 20px;
}

@keyframes identifier {
    50% {
        height: 61dvh;
    }

    to {
        height: 40dvh;
        top: 0;
    }
}

