@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
}

body {
    /* background: url(img/yandexart-fbvr1tnngttbrbeujunj.jpeg);
    background-size: cover; */
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.705),
            rgba(9, 83, 168, 0.705))
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    --heightMain: 100dvh;
}
 


header {
    animation: header .5s forwards;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 45dvh, 0 100%);
    height: 50dvh;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 0.705),
            rgba(9, 83, 168, 0.705)), url(img/web.webp);
    background-size: cover;
    background-attachment: fixed;


    .icon {
        height: 10px;
        width: 10px;
        border-radius: 1000px;
        overflow: hidden;
        margin-right: 20%;
        animation: img .5s forwards;
        transform: rotateY(0.25turn);

        img {
            width: 100%;
            position: relative;
            background-size: cover;
        }
    }

    .wrap {
        list-style-type: none;

        li {
            color: transparent;
            transform: rotateY(-90deg) translateX(60px);
            /* transform: translateX(10px); */
            animation: transformWrap .5s forwards;
        }

        li:nth-child(1) {
            animation-delay: 0.1s;
        }

        li:nth-child(2) {
            animation-delay: 0.2s;
        }

        li:nth-child(3) {
            animation-delay: 0.3s;
        }

        li:nth-child(4) {
            animation-delay: 0.4s;
        }


        .profession {
            color: rgb(215, 235, 235);
            font-size: 2em;
        }

        .name {
            font-size: 10em;
        }

        button {
            color: white;
            font-size: 2.4em;
            background-color: transparent;
            border: 1px solid white;
            border-radius: 20px;
            padding: 0.5em;
            background-attachment: text;
            transition: transform 0.2s;
        }

        button:hover {
            transform: scale(1.1);
        }
    }
}

@keyframes img {
    to {
        transform: rotateY(0turn);
        height: 350px;
        width: 350px;
    }
}

@keyframes transformWrap {
    to {
        transform: rotateY(0) translateX(0);
        color: white;
    }
}

@keyframes header {
    to {
        opacity: 1;
        font-size: 1em;
    }
}

main {
    color: rgb(255, 255, 255);
    display: flex;

    align-items: center;
    justify-content: space-around;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    height: var(--heightMain);

    h2{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 500;
    }

    section,
    aside {
        background: rgba(0, 0, 0, 0.6);
        -webkit-backdrop-filter: blur(23px);
        backdrop-filter: blur(23px);
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }

    aside {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;


        ul {
            list-style-type: none;

            li:first-child {
                font-weight: 700;
                text-transform: uppercase;
            }

            li:not(:last-child) {
                margin-bottom: 20px;
            }

            li {
                display: flex;
                align-items: center;
                font-size: 2.4em;

                img {
                    width: 50px;
                    margin-right: 10px;
                }
            }

        }
    }

    section {
        padding: 20px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        --widthImg: 200px;

        article {
            text-indent: 20px;
            font-size: 2em;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                height: 300px;
                border-radius: 20px;
                margin:0 10px;
            }
        }

        .examplesWorks {
            display: flex;
            align-items: center;
            width: calc(var(--widthImg) * 3);
            overflow: auto;
            scrollbar-width: none;
            border-radius: 10px;

            --quantityWorks: 7;
            --quantity: calc(var(--quantityWorks) - 3);

            img {
                animation: scrollWorks calc(var(--quantity) * 2s) cubic-bezier(0, 0, 0, 0) infinite;
                transform: translateX(0px);
                border-radius: 10px;
                box-sizing: border-box;
                margin-right: 10px;
                width: calc(var(--widthImg) - 10px);
            }

        }
    }
}

@keyframes scrollWorks {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(calc(calc(var(--widthImg) * -1) * var(--quantity)));
    }
}

footer {
    height: calc(var(--heightMain) + 60dvh);
    width: 100%;
    background:
        linear-gradient(to right,
            rgba(0, 0, 0, 0.705),
            rgba(9, 83, 168, 0.705)), url(img/web.webp);
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0 5dvh, 100% 0, 100% 100%, 0 100%);

    position: relative;
    top: calc((var(--heightMain) * -1) - 5.1dvh);
    animation: identifier 1s .30s forwards ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: white;

    h2 {
        font-size: 6.4em;
    }

    .emailAndTelephone {
        font-size: 3.6em;
    }

    .socialNetworks {
        background: rgba(255, 255, 255, 0.6);
        -webkit-backdrop-filter: blur(23px);
        backdrop-filter: blur(23px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        display: flex;
        align-items: center;
        border-radius: 15px;

        .networks {
            width: 50px;
            height: 50px;
            margin: 5px;
            transition: background .2s;
        }

        .tg {
            background: url(socialNetworks/telegram_B.png);
            background-size: cover;
        }

        .tg:hover {
            background: url(socialNetworks/telegram.png);
            background-size: cover;
        }

        .vk {
            background: url(socialNetworks/vk_B.png);
            background-size: cover;
        }

        .vk:hover {
            background: url(socialNetworks/vk.png);
            background-size: cover;
        }

        .inst {
            background: url(socialNetworks/instagram_B.png);
            background-size: cover;
        }

        .inst:hover {
            background: url(socialNetworks/instagram.png);
            background-size: cover;
        }
    }

}

@keyframes identifier {
    to {
        top: 0dvh;
        height: 40dvh;
    }
}